/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.fixed-top {
	font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
	background-image: url(../images/travel.jpg);
	color: #fff;
	padding-top: 145px;
	padding-bottom: 145px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-position: left;*/
}

.display-3 {
	font-weight: bolder;
}

.btn-lg {
	margin-top: 30px;
	border-radius: 40px;
}

.btn-outline-primary {
	margin-right: 15px;
}

#padtop {
	padding-top: 65px;
}

#registerSubmit {
	font-size: 15px;
	cursor: pointer;
}

#recharge {
	font-size: 15px;
	cursor: pointer;
	margin-top: 37px;
}

.btn-primary:hover {
	background-color: #2DB671;
	border-color: #2DB671;
}

input[type="checkbox"]{
	transform: scale(1.25);
	margin-top: 15px;
	margin-bottom: 15px;
}

#footer {
	margin-top: 55px;
} 

#padtop .card {
	width: 50%;
	text-align: left;	
}

#padtopuser {
	margin-top: 65px;
}

.card img {
	width: 240px;
    padding-left: 70px;
    padding-top: 40px;
    margin-bottom: 15px;
    margin-top: 20px;
    height: 220px;
}

.text-center {
	margin-top: 20px;
}

@media (max-width: 1024px) {
	#padtop .card {
		width: 100%;
	}
	.card img {
	    width: 240px;
	    height: 185px;
	    padding-left: 70px !important;
	    padding-top: 15px !important;
	}
	.text-center {
		font-size: 30px;
	}
}

@media (max-width: 420px) {
	.jumbotron {
		padding-top: 100px;
		padding-bottom: 70px;
	}
	h2 {
		font-size: 23px;
	}
	.btn-outline-primary {
		margin-bottom: 13px;
	}
	.display-3 {
		font-size: 45px;
	}
	.display-5 {
		font-size: 30px;	
	}
	.btn-lg {
		font-size: 16px;
		margin-top: 15px;
	}
}

/*.bg-faded {
	background-color: #ececec;
}*/