/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

.fixed-top {
	font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
	background-image: url(../images/movie.jpg);
	color: #fff;
	padding-top: 150px;
	padding-bottom: 150px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.display-3 {
	font-weight: bolder;
}

.btn-lg {
	margin-top: 30px;
	border-radius: 40px;
}

/*.bg-faded {
	background-color: #ececec;
}*/